#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Itim;
  font-weight: bold;
  margin-top: 3%;
}

.about-title {
  font-size: 50px;
  color: #e67e9f;
  margin-bottom: 15px;
  font-weight: bold;
}

.pink-container {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Itim;
  margin-top: 20px;
  
}
.pink-box {
  background-color: #e67e9f;
  width: 90px;
  height: 90px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.pink-title {
  color: #1f1316;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 7px;
}

.pink-text {
  color: #1f1316;

  font-family: Itim;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.double-pink-container {
  display: flex;

}
.div1 {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.svgs {
    height: 70px;
    width: 70px;
  }
 
  
  