#popluarcourse{
    text-align: center;

   margin-top: 5%;
}
.popular-course-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularCourses{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.popular-course-image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.popular-courses-title{
    font-size: 25px;
    color: #1F1316;
    font-weight: bold;
    margin-bottom: 2%;
}
.popular-course-text{
    font-size: 15px;
    color: #1F1316;
    width: 50%;
}
.pop-2-course{
    display: flex;
    width: 50%;
}