#popluarcourse{
    text-align: center;
    height: 100vh;
   padding-top: 15%;
}
.popular-course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popularCourses{
    width: 33.33%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}
.popular-course-image{
    width: 200px;
    height: 200px;
}
.popular-courses-title{
    font-size: 25px;
    color: #1F1316;
    font-weight: bold;
    margin-bottom: 2%;
}
.popular-course-text{
    font-size: 15px;
    color: #1F1316;
    width: 50%;
}