.home-container {
  background: linear-gradient(
    180deg,
    rgba(203, 140, 201, 0.8) 56.25%,
    rgba(170, 121, 221, 0.51) 100%
  );
}
.user-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 25px;
}
.user-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.row {
  display: flex;
}
.row div {
  margin-right: 20%;
}
.user-info {
  margin-top: 25px;
  font-size: 17px;
  font-family: Itim, sans-serif;
  font-weight: bold;
  display: flex;
}

.user-info p {
  color: #d36588;
}

.user-input {
  height: 27px;
  width: 300px;
  background-color: rgba(230, 126, 159, 0.5);
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  padding: 10px;
}
.save-button {
  height: 40px;
  width: 90px;
  border-radius: 25px;
  background-color: #d36588;
  color: white;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.custom-table {
  border-collapse: collapse;
  border: 1px solid #e67e9f;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #e67e9f;
  padding: 8px;
  text-align: center;
}
.button-container{
   display: flex;
   justify-content:center ;
   align-items: center;
}

.action-button{
  border-radius: 20px;
  width: 200px;
 height: 30px;
border: 0;
cursor: pointer;
font-size: 18px;
}

.delete{
 background-color: tomato;
}